{% extends 'base.html.twig' %}
{% block stylesheets %}
	<style>
		{{css}}
	</style>
	{{parent() }}
{% endblock %}

 {% block body %}
	 <div class = "form-style-3">
		 <form method="post" action = "{{ path('site_envoi', {'id' : id}) }}">
			 <h3>{{title}}</h3>
			 <div id="last"><p>Attention vous êtes le dernier auteur !!</p></div>
			 <div id="pre-text"><article>{{pretext}}</article></div>
	 	<fieldset><legend>Histoire</legend>
  			<label for="field2"><span>Texte :<span class="required">*</span></span><textarea name= "text" rows = "8" cols = "81"></textarea>
		</fieldset>
		<fieldset><legend>Informations personnelles</legend>
			<label for="field4"><span>Adresse e-mail :</span><input type = "text" name="email">
			<label><span>&nbsp;</span><input type= "submit" value = "Go !"/>
		</fieldset>
		</form>
	</div>
{% endblock %}
